{% extends "base.html" %}  <!-- Extending from the base.html template -->
{% block title %}Login{% endblock %}  <!-- Setting the title for this page -->

{% block content %}  <!-- Starting the content block -->
<!-- Login form with a POST method -->
<form method="POST"> 
  <h3 align="center">Login</h3>
  <!-- Email input field -->
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
  </div>
  <!-- Password input field -->
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
  </div>
  <br />
  <!-- Submit button for submiting the login form -->
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}  <!-- Ending the content block -->